<network>
  <name>default</name>
  <forward dev="{{ external_bridge }}" mode='route' />
  <bridge name="{{ default_bridge }}" stp='off' delay='0' />
  <ip address='{{ default_net_ip }}' netmask='{{ default_net_netmask }}'/>
</network>
