<network>
  <name>external</name>
  <forward dev="{{ external_net_dev }}" mode='bridge'>
	<interface dev='{{ external_net_dev }}' />
  </forward>
  <ip address='{{ external_net_ip }}' netmask='{{ external_net_netmask }}'/>
</network>
